@import "./colors";
@import "./sizes";
@import "./fonts";
@import "./backgrounds";
@import "./buttons";
@import "./grids";
@import "./languages";
@import "./modal";
@import "./others";
@import "./table";
@import "./components";
@import "./inputs";
@import "./menu-drawer";
@import "./shapes";

*,
*::after,
*::before {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
  outline: none;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: $color-1;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $grey-color-1;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  font-family: "raleway-regular", sans-serif;
  font-size: $size-05;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.section {
  width: 100%;
  position: relative;
}
.authentication {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    width: 50%;
    form {
      text-align: center;
      .t-1 {
        color: $color-1;
        font-size: $size-4;
        font-weight: bold;
      }
      .t-2 {
        font-size: $size-3;
      }
      .t-3 {
        color: $grey-color-1;
        font-size: $size-105;
      }
      .validate {
        color: $white-color;
        border-radius: $size-05;
        &:hover {
          background-color: $grey-color-1;
          color: $black-color;
        }
      }
    }
  }
}
.analytics {
  width: 100vw;
  height: 100vh;
  position: absolute;
  .container {
    position: relative;
    width: 80%;
    margin: auto;
    padding: $size-05;
    .head {
      width: 100%;
      height: 80px;
      border-radius: $size-1;
      background-color: $color-1;
      display: flex;
      justify-content: center;
      align-items: center;
      .t-1 {
        margin: 0;
        color: $white-color;
        font-family: "amiri", sans-serif;
        font-size: 5em;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .body {
      width: 100%;
      height: auto;
      max-height: calc(100% - 80px);
      overflow-y: auto;
      padding: $size-1 0;
      .section-1 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: $size-2;
        .left,
        .right {
          width: 48%;
          .header {
            width: 100%;
            height: 40px;
            background-color: $color-2;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: $size-1;
            .t-2 {
              margin: 0;
              color: $white-color;
              font-family: "amiri", sans-serif;
              font-size: $size-2;
              font-weight: bold;
              text-transform: uppercase;
            }
          }
          .content {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: $size-105;
            .left-analytics {
              width: 60%;
              .progress {
                width: 100%;
                display: block;
                .row {
                  width: 100%;
                  display: flex;
                  .progress-item {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    &:first-child {
                      background-color: $color-2;
                      justify-content: left;
                      padding: $size-07;
                      .t-2 {
                        margin: 0;
                        color: $white-color;
                        font-weight: 600;
                      }
                    }
                    &:last-child {
                      background-color: $red-color-2;
                      padding: $size-02;
                      justify-content: left;
                    }
                    .progress-bar {
                      height: 100%;
                      background-color: $green-color;
                      display: flex;
                      justify-content: right;
                      align-items: center;
                      span {
                        color: $white-color;
                        font-weight: bold;
                      }
                    }
                  }
                }
              }
            }
            .right-analytics {
              width: 38%;
            }
          }
        }
      }
      .section-2 {
        width: 100%;
        .header {
          width: 100%;
          height: 50px;
          background-color: $grey-color-3;
          display: flex;
          justify-content: left;
          align-items: center;
          padding: $size-1;
          .t-2 {
            margin: 0;
            font-size: 3.5em;
          }
        }
        .body {
          width: 100%;
          display: flex;
          .item {
            width: 25%;
            background-color: $white-color;
            border-radius: $size-07;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: $size-05;
            padding: $size-5;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
              rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
            cursor: pointer;
            &:first-child {
              background-color: $color-1;
              .counter,
              .t-3 {
                color: $white-color !important;
              }
            }
            &:last-child {
              background-color: $black-color;
              .counter,
              .t-3 {
                color: $white-color !important;
              }
            }
            .t-1 {
              font-weight: bold;
              .counter {
                color: $color-4;
                font-size: $size-5;
              }
              .percent {
                color: $grey-color-1;
                font-size: $size-2;
                margin-left: $size-05;
              }
            }
            .t-3 {
              margin: 0;
              color: $color-1;
              font-size: $size-107;
              font-weight: bold;
            }
            &:hover {
              transition: all 0.3s ease-in-out;
              background-color: $grey-color-3;
            }
          }
        }
      }
    }
  }
}
.details {
  width: 100%;
  display: block;
  .header {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    .nav {
      display: flex;
      .item{
        margin-right: $size-1;
        select{
          padding: $size-05;
        }
      }
      .button {
        border-radius: $size-03;
        margin-right: $size-02;
      }
      .active {
        background-color: $color-1;
        color: $white-color;
      }
    }
    .actions {
      .button {
        background-color: $green-color;
        border-radius: $size-02;
        color: $white-color;
        margin-left: $size-07;
        &:hover {
          background-color: $grey-color-2;
        }
      }
    }
  }
  .body {
    width: 100%;
    height: auto;
    max-height: calc(100% - 40px);
    padding: 0 !important;
    .table {
      margin: 0;
      font-size: $size-05 !important;
    }
  }
}
.forms {
  width: 100vw;
  height: 100vh;
  position: absolute;
  .container {
    position: relative;
    width: 80%;
    height: auto;
    max-height: 100%;
    margin: auto;
    padding: $size-05;
    .head {
      width: 100%;
      height: 80px;
      background-color: $color-1;
      border-radius: $size-1;
      display: flex;
      justify-content: center;
      align-items: center;
      .t-1 {
        margin: 0;
        color: $white-color;
        font-family: "amiri", sans-serif;
        font-size: 5em;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .body {
      width: 100%;
      height: auto;
      max-height: calc(100vh - 100px);
      padding: $size-1 0;
      overflow-y: auto;
      overflow-x: hidden;
      .section-1,
      .section-2 {
        width: 100%;
        display: block;
        .header {
          width: 100%;
          height: 40px;
          background-color: $color-2;
          display: flex;
          justify-content: center;
          align-items: center;
          .t-2 {
            margin: 0;
            color: $white-color;
            font-size: $size-2;
            font-weight: bold;
          }
        }
        .filter{
          width: 100%;
          height: 40px;
          padding: $size-05 0;
          display: flex;
          align-items: center;
          .item{
            margin-right: $size-1;
            select{
              padding: $size-05 $size-1;
            }
          }
          .button{
            border-radius: $size-03;
            margin-right: $size-03;
            &:hover{
              background-color: $color-4;
              color: $white-color;
            }
          }
        }
        .content{
          width: 100%;
          display: flex;
          justify-content: space-between;

          .left{
            width: 54%;
          }
          .right{
            width: 44%;
            .bgc-2{
              color: $white-color;
              font-weight: bold;
              font-size: $size-107;
            }
          }
        }
      }
      .section-1 {
        .content{
          .left{
            width: 26%;
          }
          .right{
            width: 70%;
          }
        }
      }
      .section-2{
        .filter{
          .item{
            margin-right: $size-09;
          }
        }
        .content{
          width: 100%;
          display: flex;
          justify-content: space-between;
          .left{
            width: 68%;
          }
          .right{
            width: 30%;
          }
        }
      }
    }
  }
}

.not-found {
  width: 100vw;
  height: 100vh;
  .containers {
    width: 100%;
    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .t-1 {
      font-size: 5rem;
    }
    .t-2 {
      font-size: 3rem;
    }
    .t-3 {
      color: $grey-color-1;
      font-size: 1rem;
    }
    div {
      margin-top: 2rem;
      .link {
        font-size: 1rem;
        border: 1px solid $grey-color-1;
        border-radius: $size-05;
        color: $grey-color-1;
        @include padding($size-09);
        span {
          margin-left: $size-07;
        }
      }
    }
  }
}

@media only screen and (max-width: 688px) {
}

@media only screen and (max-width: 1312px) {
}
